<?xml version="1.0"?>

<launch>
    <arg name="model" default="$(find urdf_example2)/description/urdf/robot1.xacro"/>
    <arg name="joints_gui" default="true" />
    <arg name="rvizconfig" default="$(find urdf_example2)/rviz/model_display.rviz"/>

    <!--Load robot description-->
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)"/>

    <!--Publish robot state-->
    <param name="use_gui" value="$(arg joints_gui)"/>
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    <!--Visualize in RVIZ-->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true"/>
</launch>
