<?xml version="1.0"?>

<launch>
    <arg name="model" default="$(find urdf_example1)/description/urdf/robot1.xacro"/>
    <arg name="rvizconfig" default="$(find urdf_example1)/rviz/model_display.rviz"/>
    <arg name="world" default="willowgarage.world"/>

    <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model) gazebo:=true"/>

    <!--Launch gazebo and spawn robot model-->
    <include file="$(find gazebo_ros)/launch/empty_world.launch"/>
    <node name="spawn_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model robot"/>

    <!--This is wrong. It will publish the wheels frames always in the zero position, instead of according to gazebo.
        But is a cheap solution that allows visualization in RVIZ without compromising simulation-->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="rate" value="50" />
    </node>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true"/>
</launch>
