<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <!--params are: base length, width and height-->
    <xacro:macro name="base" params="bl:=^ bw:=^ bh:=^ bm:=^ gazebo:=^">
        <link name="base_link">
            <visual>
                <geometry>
                    <box size="${bl} ${bw} ${bh}"/>
                    <!--<mesh filename="package://urdf_example1/description/meshes/fusca.stl" scale="${bl} ${bw} ${bh}"/>-->
                </geometry>
                <material name="green"/>
            </visual>
            <collision>
                <geometry>
                    <box size="${bl} ${bw} ${bh}"/>
                </geometry>
            </collision>
            <inertial>
                <mass value="${bm}"/>
                <inertia ixx="${bm*(bw**2+bh**2)/12}" ixy="0.0" ixz="0.0" iyy="${bm*(bl**2+bh**2)/12}" iyz="0.0" izz="${bm*(bl**2+bw**2)/12}"/>
            </inertial>
        </link>


        <!--Add gazebo references, if requested-->
        <xacro:if value="${gazebo}">
            <gazebo reference="base_link">
                <material>Gazebo/Green</material>
            </gazebo>
        </xacro:if>

    </xacro:macro>

</robot>
