<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:macro name="skid_steer" params="bw:=^ wt:=^ wr:=^">
        <gazebo>
            <plugin name="skid_steer_drive_controller" filename="libgazebo_ros_skid_steer_drive.so">
                <updateRate>50.0</updateRate>
                <robotNamespace>/</robotNamespace>
                <commandTopic>cmd_vel</commandTopic>
                <odometryTopic>odom</odometryTopic>
                <robotBaseFrame>base_link</robotBaseFrame>
                <odometryFrame>odom</odometryFrame>
                <broadcastTF>true</broadcastTF>
                <leftFrontJoint>base_to_front_left_wheel</leftFrontJoint>
                <rightFrontJoint>base_to_front_right_wheel</rightFrontJoint>
                <leftRearJoint>base_to_back_left_wheel</leftRearJoint>
                <rightRearJoint>base_to_back_right_wheel</rightRearJoint>
                <wheelSeparation>${bw+wt}</wheelSeparation>
                <wheelDiameter>${2*wr}</wheelDiameter>
                <torque>200</torque>
                <covariance_x>0.0001</covariance_x>
                <covariance_y>0.0001</covariance_y>
                <covariance_yaw>0.0001</covariance_yaw>
            </plugin>
        </gazebo>

    </xacro:macro>

</robot>
